<!--

  Hello there, taking a look under the hood I see. No classy stuff here. Pop on over to the github repository to get to the nitty gritty

-->
<!DOCTYPE html>
<html>
  <head>
    <title>blondie WebAPI</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </body>
</html>
